.step-panels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3;
}

.step-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* max-height: 800px;
    overflow-y: auto; */
}

.form-field-container {
    flex: 1 1 calc(33.33% - 10px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0 50px;
}

.submit-button-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.image-preview-container {
    margin-top: 10px;
    text-align: center;
}

.image-preview {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    object-fit: cover;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
    display: fle;
}