<p-card [style]="{ width: '98vw', overflow: 'visible'}">
    <div class="card flex justify-center">
        <p-stepper [(value)]="activeStep" class="basis-[40rem]">
            <p-step-list>
                <p-step [value]="1" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-user"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>

                <p-step [value]="2" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-upload"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>

                <p-step [value]="3" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-sparkles"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>

                <p-step [value]="4" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-history"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>

                <p-step [value]="5" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-book"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>

                <p-step [value]="6" class="flex flex-row flex-auto gap-2">
                    <ng-template #content let-activateCallback="activateCallback" let-value="value">
                        <button class="bg-transparent border-0 inline-flex flex-col gap-2" (click)="activateCallback()">
                            <span class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                                [ngClass]="{
                                    'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                    'border-surface': value > activeStep
                                }">
                                <i class="pi pi-sparkles"></i>
                            </span>
                        </button>
                    </ng-template>
                </p-step>
            </p-step-list>

            <p-step-panels class="step-panels">
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="step-panel">
                            <h3>Enter your personal details</h3>
                            <form [formGroup]="profileForm">
                                <div class="form-container">
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="name" formControlName="name" />
                                                <label for="name">Name</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('name')?.hasError('required') && profileForm.get('name')?.touched"
                                                    class="error">
                                                    Name is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="currentJobTitle"
                                                    formControlName="currentJobTitle" />
                                                <label for="currentJobTitle">Current Job Title</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('currentJobTitle')?.hasError('required') && profileForm.get('currentJobTitle')?.touched"
                                                    class="error">
                                                    Job Title is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="specializedSkillTiTle"
                                                    formControlName="specializedSkillTiTle" />
                                                <label for="specializedSkillTiTle">Specialized Job Title</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('specializedSkillTiTle')?.hasError('required') && profileForm.get('specializedSkillTiTle')?.touched"
                                                    class="error">
                                                    Specialized Job Title is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <p-datepicker inputId="dateOfBirth" class="max-w-full"
                                                    formControlName="dateOfBirth" appendTo="body" dateFormat="dd.mm.yy"
                                                    [showTime]="false"></p-datepicker>
                                                <label for="dateOfBirth">Date Of Birth</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('dateOfBirth')?.hasError('required') && profileForm.get('dateOfBirth')?.touched"
                                                    class="error">
                                                    DOB is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="email" formControlName="email" />
                                                <label for="email">Email</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('email')?.hasError('required') && profileForm.get('email')?.touched"
                                                    class="error">
                                                    Email is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="phone" formControlName="phone" pKeyFilter="int" />
                                                <label for="phone">Phone</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('phone')?.hasError('required') && profileForm.get('phone')?.touched"
                                                    class="error">
                                                    Phone is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="error-message-container">
                                            <p-floatlabel variant="in">
                                                <input pInputText id="address" formControlName="address" />
                                                <label for="address">Address</label>
                                            </p-floatlabel>
                                            <div style="line-height:0.5">
                                                <small
                                                    *ngIf="profileForm.get('address')?.hasError('required') && profileForm.get('address')?.touched"
                                                    class="error">
                                                    Address is required.
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <p-floatlabel variant="in">
                                            <input pInputText id="linkedInProfile" formControlName="linkedInProfile" />
                                            <label for="linkedInProfile">Linked In Profile</label>
                                        </p-floatlabel>
                                    </div>
                                    <div class="form-field-container">
                                        <p-floatlabel variant="in">
                                            <input pInputText id="gitHubProfile" formControlName="gitHubProfile" />
                                            <label for="gitHubProfile">Git Hub Profile</label>
                                        </p-floatlabel>
                                    </div>
                                </div>
                                <div class="submit-button-container">
                                    <p-button (onClick)="onSubmitProfileForm(activateCallback(2))" label="Next"
                                        icon="pi pi-arrow-right" iconPos="right" [disabled]="profileForm.invalid" />
                                </div>
                            </form>
                        </div>

                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="step-panel">
                            <h3>Upload Your Professional Photograph</h3>
                            <form [formGroup]="profilePictureForm">
                                <div class="form-container">
                                    <div class="form-field-container">
                                        <p-floatlabel variant="in">
                                            <div class="card flex flex-col gap-6 items-center justify-center">
                                                <p-fileupload #selectedFile mode="basic" chooseLabel="Choose Image"
                                                    chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000"
                                                    (onSelect)="onImageSelect($event)"
                                                    (onClear)="onImageClear(selectedFile)">
                                                </p-fileupload>
                                                <div *ngIf="imagePreview" class="image-preview-container">
                                                    <div class="image-wrapper">
                                                        <img [src]="imagePreview" alt="Preview" class="image-preview" />
                                                        <i style="position: absolute; cursor: pointer;"
                                                            class="pi pi-times clear-icon"
                                                            (click)="onImageClear(selectedFile)"
                                                            (keydown.enter)="onImageClear(selectedFile)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </p-floatlabel>
                                    </div>
                                </div>
                                <div class="submit-button-container">
                                    <p-button (onClick)="activateCallback(1)" label="Back" severity="secondary"
                                        icon="pi pi-arrow-left" iconPos="left" />
                                    <p-button (onClick)="onSubmitProfilePicture(activateCallback(3))" label="Next"
                                        icon="pi pi-arrow-right" iconPos="right"
                                        [disabled]="profilePictureForm.invalid" />
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="step-panel">
                            <h3>Add your professional highlights</h3>
                            <form [formGroup]="profileHighlightsForm">
                                <div class="form-container">
                                    <div class="form-field-container">
                                        <div class="field" style="display: flow; gap: 10px;">
                                            <div style="display: flow; gap: 10px;">
                                                <p-floatlabel variant="in">
                                                    <input pInputText #skillName />
                                                    <label for="skillName">Skill</label>
                                                </p-floatlabel>
                                                <div
                                                    style="box-sizing: border-box; display: flex; justify-content: center; padding-block: var(--p-inputtext-padding-y); padding-inline: var(--p-inputtext-padding-x); padding: 20px;">
                                                    <p-rating #skillRating id="skillRating"></p-rating>
                                                </div>
                                                <div
                                                    style="display: flex; align-items: flex-end; justify-content: center;">
                                                    <p-button
                                                        (onClick)="addSkill({ skillName: skillName.value, skillRating: skillRating.value })"
                                                        label="Add Skill(s)" severity="secondary"
                                                        [disabled]="!skillName.value || !skillRating.value"></p-button>
                                                </div>
                                            </div>
                                            <div formArrayName="skills"
                                                style="display: flow; line-height: 1.5; gap: 10px;">
                                                <div *ngFor="let skill of skills.controls; let i = index"
                                                    [formGroup]="getSkillGroup(i)" class="form-field-container">
                                                    <p-tag
                                                        [style]="{ border: '2px solid var(--border-color)', color: 'var(--text-color)', margin: '10px 0', textAlign: 'center' }"
                                                        rounded="true">
                                                        <div class="flex items-center gap-2 px-1">
                                                            <span class="text-base">
                                                                {{ skill.get('skillName')?.value}}
                                                                <p-rating formControlName="skillRating"
                                                                    [readonly]="true"></p-rating>
                                                            </span>
                                                        </div>
                                                    </p-tag>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="field" style="display: flow; gap: 10px;">
                                            <div style="display: flow; gap: 10px;">
                                                <p-floatlabel variant="in">
                                                    <input pInputText #awardTitle />
                                                    <label for="awardTitle">Award</label>
                                                </p-floatlabel>
                                                <p-floatlabel variant="in">
                                                    <p-datepicker inputId="awardedDate" #awardedDate class="max-w-full"
                                                        appendTo="body" dateFormat="dd.mm.yy"
                                                        [showTime]="false"></p-datepicker>
                                                    <label for="awardedDate">Received On</label>
                                                </p-floatlabel>
                                                <div
                                                    style="display: flex; align-items: flex-end; justify-content: center;">
                                                    <p-button
                                                        (onClick)="addAwards({ awardTitle: awardTitle.value, awardedDate: awardedDate.value })"
                                                        label="Add Award(s)" severity="secondary"
                                                        [disabled]="!awardTitle.value || !awardedDate.value"></p-button>
                                                </div>
                                            </div>
                                            <div>
                                                <p-timeline [value]="awardsList" [style]="{ 'line-height': '1.6'}">
                                                    <ng-template #opposite let-award>
                                                        <small class="text-surface-500 dark:text-surface-400">
                                                            {{ award.awardedDate | date:
                                                            'dd.MM.yyyy' }}
                                                        </small>
                                                    </ng-template>
                                                    <ng-template #content let-award>
                                                        <strong>{{ award.awardTitle }}</strong>
                                                    </ng-template>
                                                </p-timeline>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="field" style="display: flow; gap: 10px;">
                                            <div style="display: flow; gap: 10px;">
                                                <p-floatlabel variant="in">
                                                    <input pInputText #certificate />
                                                    <label for="certificate">Certification</label>
                                                </p-floatlabel>
                                                <p-floatlabel variant="in">
                                                    <p-datepicker inputId="certificateExpiryDate" #certificateExpiryDate
                                                        appendTo="body" class="max-w-full" dateFormat="dd.mm.yy"
                                                        [showTime]="false"></p-datepicker>
                                                    <label for="certificateExpiryDate">Expiry Date</label>
                                                </p-floatlabel>
                                                <div
                                                    style="display: flex; align-items: flex-end; justify-content: center;">
                                                    <p-button
                                                        (onClick)="addCertifications({ certificate: certificate.value, certificateExpiryDate: certificateExpiryDate.value })"
                                                        label="Add Certifications(s)" severity="secondary"
                                                        [disabled]="!certificate.value || !certificateExpiryDate.value"></p-button>
                                                </div>
                                            </div>
                                            <div>
                                                <p-timeline [value]="certificationsList"
                                                    [style]="{ 'line-height': '1.6'}">
                                                    <ng-template #opposite let-certification>
                                                        <small style="word-wrap: break-word;"
                                                            class="text-surface-500 dark:text-surface-400">
                                                            {{ certification.certificateExpiryDate | date:
                                                            'dd.MM.yyyy' }}
                                                        </small>
                                                    </ng-template>
                                                    <ng-template #content let-certification>
                                                        <strong>{{ certification.certificate }}</strong>
                                                    </ng-template>
                                                </p-timeline>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="submit-button-container">
                                    <p-button (onClick)="activateCallback(2)" label="Back" severity="secondary"
                                        icon="pi pi-arrow-left" iconPos="left" />
                                    <p-button (onClick)="onSubmitProfessionalHistoryForm(activateCallback(4))"
                                        label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        [disabled]="profileHighlightsForm.invalid" />
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="4">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="step-panel">
                            <h3>Add your professional history</h3>
                            <form [formGroup]="professionalHistoryForm">
                                <div class="form-container">
                                    <div class="form-field-container">
                                        <div style="display: flow; gap: 10px;">
                                            <div class="field" style="display: flex; gap: 10px;">
                                                <div style="display: flow; gap: 10px;">
                                                    <p-floatlabel variant="in">
                                                        <input pInputText #qualification />
                                                        <label for="qualificationInput">Course</label>
                                                    </p-floatlabel>
                                                    <p-floatlabel variant="in">
                                                        <input pInputText #grade />
                                                        <label for="grade">Grade/Percentage</label>
                                                    </p-floatlabel>
                                                    <p-floatlabel variant="in">
                                                        <p-datepicker inputId="yearOfPassing" #yearOfPassing
                                                            appendTo="body" class="max-w-full" dateFormat="dd.mm.yy"
                                                            [showTime]="false"></p-datepicker>
                                                        <label for="yearOfPassing">Year Of Passing</label>
                                                    </p-floatlabel>
                                                    <p-floatlabel variant="in">
                                                        <input pInputText #institutionName />
                                                        <label for="institutionName">Institution Name</label>
                                                    </p-floatlabel>
                                                    <p-floatlabel variant="in">
                                                        <input pInputText #placeOfStudy />
                                                        <label for="placeOfStudy">Place Of Study</label>
                                                    </p-floatlabel>
                                                    <div
                                                        style="display: flex; align-items: flex-end; justify-content: center;">
                                                        <p-button
                                                            (onClick)="addEducationalQualifications({ qualification: qualification.value, grade: grade.value, yearOfPassing: yearOfPassing.value, institutionName: institutionName.value, placeOfStudy: placeOfStudy.value })"
                                                            label="Add Qualification(s)" severity="secondary"
                                                            [disabled]="!qualification.value || !grade.value || !yearOfPassing.value || !institutionName.value || !placeOfStudy.value"></p-button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <p-timeline [value]="qualifications" [style]="{ 'line-height': '1.6'}">
                                                    <ng-template #opposite let-qualification>
                                                        <small class="text-surface-500 dark:text-surface-400">
                                                            {{ qualification.grade}}
                                                            {{ qualification.yearOfPassing | date: 'dd.MM.yyyy' }}
                                                        </small>
                                                    </ng-template>
                                                    <ng-template #content let-qualification>
                                                        <strong>{{ qualification.qualification }}</strong> at
                                                        {{ qualification.institutionName }},
                                                        {{ qualification.placeOfStudy }}
                                                    </ng-template>
                                                </p-timeline>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-field-container">
                                        <div class="field" style="display: flex; gap: 10px;">
                                            <div style="display: flow; gap: 10px;">
                                                <p-floatlabel variant="in">
                                                    <input pInputText #company />
                                                    <label for="company">Company Name</label>
                                                </p-floatlabel>
                                                <p-floatlabel variant="in">
                                                    <input pInputText #role />
                                                    <label for="role">Role</label>
                                                </p-floatlabel>
                                                <p-floatlabel variant="in">
                                                    <p-datepicker inputId="fromDate" #fromDate appendTo="body"
                                                        class="max-w-full" dateFormat="dd.mm.yy"
                                                        [showTime]="false"></p-datepicker>
                                                    <label for="fromDate">Date Of Joining</label>
                                                </p-floatlabel>
                                                <div
                                                    style="box-sizing: border-box; display: flex; justify-content: center; align-items:center; margin: 5px 0px; border: 1px solid var(--p-inputtext-border-color);border-radius: 6px;">
                                                    <label style="color: lightslategray;" for="isCurrentJob">Presently
                                                        Employed Here: </label>
                                                    <p-toggleswitch #isCurrentJob inputId="isCurrentJob"
                                                        [style]="{'display': 'flex', 'justify-content': 'center', 'align-items':'center'}" />
                                                </div>
                                                <p-floatlabel variant="in">
                                                    <p-datepicker inputId="toDate" #toDate appendTo="body"
                                                        class="max-w-full" dateFormat="dd.mm.yy" [showTime]="false"
                                                        [disabled]="isCurrentJob.modelValue"></p-datepicker>
                                                    <label for="toDate">Last Working Day</label>
                                                </p-floatlabel>
                                                <div
                                                    style="display: flex; align-items: flex-end; justify-content: center;">
                                                    <p-button
                                                        (onClick)="addExperience({ company: company.value, role: role.value, fromDate: fromDate.value, isCurrentJob: isCurrentJob.modelValue, toDate: toDate.value, projects: [] })"
                                                        label="Add Professional Experience" severity="secondary"
                                                        [disabled]="!company.value || !role.value || !fromDate.value || (!isCurrentJob.modelValue && !toDate.value)"></p-button>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <p-timeline [value]="experiences" [style]="{ 'line-height': '1.6'}">
                                                <ng-template #opposite let-experience>
                                                    <small class="text-surface-500 dark:text-surface-400">
                                                        {{ experience.fromDate | date: 'dd.MM.yyyy' }} -
                                                        {{ experience.toDate | date: 'dd.MM.yyyy' }}
                                                    </small>
                                                </ng-template>
                                                <ng-template #content let-experience>
                                                    <strong>{{ experience.company }}</strong> -
                                                    {{ experience.role }}
                                                </ng-template>
                                            </p-timeline>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    style="margin-top: 40px; display: flex; gap: 20px; align-items: center; justify-content: center;">
                                    <p-button (onClick)="activateCallback(3)" label="Back" severity="secondary"
                                        icon="pi pi-arrow-left" iconPos="left" />
                                    <p-button (onClick)="onSubmitProfessionalHistoryForm(activateCallback(5))"
                                        label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        [disabled]="profileHighlightsForm.invalid" />
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="5">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                            <h3>Add project(s)</h3>
                            <form [formGroup]="professionalHistoryForm">

                                <div class="flex pt-6 justify-between">
                                    <p-button (onClick)="activateCallback(4)" label="Back" severity="secondary"
                                        icon="pi pi-arrow-left" />
                                    <p-button (onClick)="onSubmitProfessionalHistoryForm(activateCallback(6))"
                                        label="Next" icon="pi pi-arrow-right" iconPos="right"
                                        [disabled]="educationalQualifications.invalid" />
                                </div>
                            </form>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="6">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col gap-2 mx-auto" style="min-height: 16rem; max-width: 24rem">
                            <div class="flex flex-wrap justify-center gap-4">
                                <form [formGroup]="professionalSummaryForm">
                                    <textarea formControlName="summary"
                                        placeholder="Describe your professional summary"></textarea>

                                    <div class="flex pt-6 justify-end">
                                        <p-button (onClick)="activateCallback(5)" label="Back" severity="secondary"
                                            icon="pi pi-arrow-left" />
                                        <p-button (onClick)="onSubmitProfessionalSummaryForm(activateCallback(7))"
                                            label="Preview" icon="pi pi-arrow-right" iconPos="right"
                                            [disabled]="professionalSummaryForm.invalid" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
</p-card>


<!-- <div id="resumePreview">
        <h2>{{ resumeData.name }}</h2>
        <p>Email: {{ resumeData.email }}</p>
        <p>Phone: {{ resumeData.phone }}</p>
        <p><strong>Summary:</strong> {{ resumeData.summary }}</p>
        <h3>Skills</h3>
        <ul>
            <li *ngFor="let skill of resumeData.skills">{{ skill }}</li>
        </ul>
        <h3>Experience</h3>
        <ul>
            <li *ngFor="let exp of resumeData.experience">{{ exp.company }} - {{ exp.role }} ({{ exp.duration }})</li>
        </ul>
    </div>

    <button (click)="generatePDF()">Download PDF</button> -->